[2022-10-23 09:17] Theodlz opened #1 "Getting Ready to dev: Installing SkyPortal"
## Issue:
#### So far, students from ESILV are not done installing SkyPortal. Until they do, they won't be able to start developing.

## Solution:
#### Well, installing it of course! As suggested in the README, please all create one it per person, and list what you've done so far, and the difficulties you encountered. Then, reference that issue in the Project section.

Also, don't forget to add a

[2022-10-23 19:49] Adiman007 opened #2 "Adrien Bonnefoy - Installing SkyPortal"
@Theodlz  👋
 #1

I'm at the Launch step in the [Setup](https://skyportal.io/docs/setup.html) and so far everything went great but I'm stuck at the 3rd and 4th step of the Launching process :

3. Run make log to monitor the service and, in a separate window, make run to start the server.
4. Direct your browser to http://localhost:5000.

the `make run` seems to work without any issue but the `make l

[2022-10-24 17:02] lydie10 opened #3 "Lydie Pont - Installing SkyPortal"
I followed the [Setup](https://skyportal.io/docs/setup.html) tutorial and I’ve completed the launch stage.

I was able to succesfully perform the first 4 steps until `make load_demo_data`. I had trouble loading the demo data as my terminal froze several times before completing this step.
However, right now everything is working fine and I was able to connect to SkyPortal.

Is it necessary to do th

[2022-10-24 19:30] jolyanem opened #4 "Jolyane Makarison - Installing Skyportal"
Hi ! 😄

Installation of Skyportal completed ! 🥳
Issues I had to deal with :
- updating of `nodejs`
- storage problem on the virtual machine

Thank you for your help ! 😄

[2022-10-24 19:41] Carla802 opened #5 "Carla Amat - Installing SkyPortal"
Hi ! 😄

I was finally able to finish the Launch phase of the [Setup](https://skyportal.io/docs/setup.html) and load the demo data with the fourth step  : `make load_demo_data`.

I had some issues on the `make run` / `make log` step because my computer was freezing a lot. I limited the RAM of my WSL and it works fine since then. 🎉

I am now connected to SkyPortal and ready to start coding ! I will

[2022-10-25 06:23] laurall974 opened #6 "Laura Llinares - Installing SkyPortal"
DONE ! 🎉

Issues encountered :
- on Mac : **brew install postgresql@14** instead of brew install postgresql
- if **make run** work but the web browser does not display SkyPortal try : **make monitor** in another window
- disable Airplay Receiver in System Preferences to free up port 5000

[2022-10-25 06:34] celiune opened #7 "LIU Céline - Installing SkyPortal"
Hello !
I'm at the 1st step of Launch phase "make db_init", having some issue with psql connection, I'm currently looking at the 2nd step of installation to check if the default port is 5432.
The error I'm having is :
psql: error: connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to serve

[2022-10-25 10:24] ManonFlt opened #8 "Manon Flament - Installing SkyPortal"
Hello!
I am at the lauching part and the "make db_init" gives me the following error:

/bin/bash: python: command not found

Welcome to SkyPortal v (https://skyportal.io)

/usr/bin/env: ‘python’: No such file or directory
make[1]: *** [baselayer/Makefile:44: dependencies] Error 127
make: *** [Makefile:74: db_init] Error 2

[2022-10-26 11:53] aolrc-vinci opened #9 "Alix Olliéric - Installing SkyPortal"
Hi !
I am currently in the process of setting up skyportal.
I am having issues with the `make run`  part and having the following errors :

and

[2022-10-26 19:47] Nayru12 opened #10 "Inès Perez - Installing SkyPortal"
Hi ! :smiley:

I am currently still trying to install SkyPortal and I am stuck as the `make load_demo_data` part, which give me the error : `expected HTTP 200, received 503. Trying again.`
I haven't give up yet and it is a new error, so maybe I will find my answer by myself soon ahah.

Otherwise, I didn't run into noticeable issues while following the beginning of the tutorial : I had a lot of err

[2022-10-27 11:13] KodeurFou opened #11 "Adrien Bonnefon - Installing Skyportal"
I manage to run skyportal on my VM
I've had some troubles downloading all the requirements, had the wrong versions of some (node specificaly) and made the upgrades

[2022-11-01 05:57] Theodlz opened #12 "PART 2: Getting Ready to dev: SkyPortal Tutorial - Adding New Features"
Hi All!

Once you are done with the first issue (#1 Getting Ready with SkyPortal: Installation), please quickly tackle the tutorial found in the docs:

https://skyportal.io/docs/adding_features.html

Similarly, you need to each create an issue where you tag me (don't forget to assign yourself, put a label and add it to the project).

Good luck!

(If possible, try to finish it by Thursday 3rd of No

[2022-11-01 10:06] lydie10 opened #13 "Lydie Pont - Adding New Features"
Hi @Theodlz ! 👋

I have been following the Adding New Features tutorial, and so far I have read the **Basic React concepts: Elements and Components** and **Redux basics** sections in addition to the [ReactJS](https://reactjs.org/tutorial/tutorial.html) and [Redux](https://redux.js.org/basics/basic-tutorial/) tutorials.

I'm now reading through the **Adding a new end-to-end SkyPortal feature** sect

[2022-11-02 01:57] Theodlz commented on #8
@ManonFlt  if you are done with starting SkyPortal, please close this issue and move to the next step  which is described in issue https://github.com/grandma-collaboration/skyportal_grandma_dev/issues/12

[2022-11-02 10:16] #3 closed, assigned to lydie10

[2022-11-02 15:58] #7 closed, assigned to celiune

[2022-11-02 16:16] Theodlz opened #14 "Documentation Task 1: Installation Troubleshooting"
As mentioned by Michael during last week's meeting, it would be amazing if you guys could create a document where you list the issues you encountered and the solutions.

It should be only one document, where all of you contribute by sharing your difficulties and how you tackled them.

The sooner the better, as this will be extremely helpful for those of you that didn't manage to run the app yet, s

[2022-11-02 16:26] Theodlz commented on #14
@KodeurFou
@Nayru12
@aolrc-vinci
@ManonFlt
@celiune
@laurall974
@Carla802
@jolyanem
@lydie10
@Adiman007

[2022-11-02 16:28] Theodlz commented on #10
Hi @Nayru12, any updates/progress? Please have a look at other people's issues too (including closed issues, which are not shown by default but you can change that easily) as they might have ran into the same issues as you did.

[2022-11-02 16:30] Theodlz commented on #9
Sounds good! Good luck

[2022-11-02 16:32] Theodlz commented on #11
What I mean by done, is can you access the app from the webpage/frontend?

[2022-11-02 20:10] #6 closed

[2022-11-02 20:10] #4 closed

[2022-11-02 22:33] Adiman007 opened #15 "Adrien/Adrien Sorting by date saved running out after switching few pages in the SOURCES page"
If you sort by most recent date saved on page 1 of the sources page, the sorting will be reset after reaching the 3rd page.

[2022-11-03 04:20] Theodlz commented on #15
Hi @Adiman007, thanks for opening an issue, great reflex.
This is a Skyportal issue right? Opening an issue here is great so we can follow your advancements regarding the tasks given to you by Sarah in a centralized manner. However, you also need to create an issue on SkyPortal main (not your fork, the proper SkyPortal). That way, the core team of SP (short for SkyPortal) knows about it and knows

[2022-11-03 04:21] Theodlz commented on #15
Once any of you have started working on that, please move it to the 'In Progress' column of the project board.

[2022-11-03 09:47] celiune opened #16 "LIU Céline - Adding new features"
Hi @Theodlz :wave:
I've started the tutorial to [add new features](https://skyportal.io/docs/adding_features.html), but saw that we must first do/read some other tutorials.
So, for now, I'm still working on the [ReactJS Tutorial](https://reactjs.org/tutorial/tutorial.html) and am at the **Function components** section, I'm trying my best to understand it as fast as possible.
Thank you for your tim

[2022-11-03 09:51] Theodlz commented on #16
Sounds good to me!

Don't hesitate to create a little git repo where you commit the code you write when you follow these tutorials. So you can keep it and go back to it as reference later on!

In general, its good practice to always use git when you write code, so to never lose anything. Coding is all about reusing stuff over and over again, so it's very valuable to keep all of what you do.

[2022-11-03 10:38] Nayru12 commented on #10
Hi @Theodlz, I have tried several more times to get sp to work, but I'm still at the same point, even with the help of others.
As you suggested last time, if it's ok with you, I would like to make a zoom call to help get things work. As I am on vacation, I am available every day of the week at any time.

[2022-11-03 10:44] lydie10 commented on #13
Hi ! Thanks for your explanations, it was very helpful :)

I'm now trying to implement the new test comment feature. I added the code given in the tutorial but when I launch the app and direct my browser to localhost:5000/test_comments,  I get the following errors when landing on the page :

Then, when I click on the submit button to add a comment :

I checked the `skyportal/handlers/api/test_comm

[2022-11-03 11:12] Theodlz commented on #10
Sure thing! What about tomorrow or this weekend during your morning in France? Maybe others need help too. If they do, please coordinate yourself with them so we can have a grouped call.

[2022-11-03 12:29] Nayru12 commented on #10
Thanks ! For the moment, Manon also wants to participate in the call and I am asking the others to see who is also interested !

[2022-11-03 13:33] Nayru12 commented on #10
Manon and I are both available this Saturday at 11 am FR time, is it good for you?

[2022-11-03 13:48] jolyanem opened #17 "Makarison Jolyane - Adding new features"
Hi ! 😄
I am currently working on the tutorial and as it is a quite bit long, for the moment I am focus on the tutorial `ReactJS` .
I also started to search a little bit on the code where I would modify the code for the task 1 given by Sarah !
I wouldn't hesitate ask for help if I feel lost sometimes,

Thank you for your help ! 🚀

[2022-11-03 14:00] #5 closed, assigned to Carla802

[2022-11-03 14:01] Adiman007 commented on #15
ok will do !

[2022-11-03 14:05] laurall974 opened #18 "Llinares Laura - Adding new features"
Hi ! 😃
I am working on adding new features. I decided to start the task 1 given by Sarah, I had some struggle to find which part of the code I need to modify.
I will give you update **soon**.

Thanks for your help @Theodlz !🚀

[2022-11-03 14:05] #11 closed

[2022-11-04 20:54] Carla802 opened #19 "Carla Amat - Installing SkyPortal again"
Hi @Theodlz !

I know this issue is surprising because I completed the installation, but I now have a new problem. 😫
Looking at your response under @lydie10's last opened issue, I found out that we weren't supposed to clone the skyportal repository, but our own fork instead. However, as it was asked in the Setup tutorial,

`git clone https://github.com/skyportal/skyportal.git`

I had cloned the sk

[2022-11-04 20:56] mcoughlin commented on #19
@Carla802 Looks like it is working, you just need to run

make db_clear

since your database already has information in it.

Then you can run

make load_demo_data

[2022-11-04 21:04] Carla802 opened #20 "Carla Amat - Adding new features"
Hi @Theodlz 😄

Even though I opened an issue concerning SkyPortal installation, I can still update you on the [Adding new features](https://skyportal.io/docs/adding_features.html) tutorial.

Before having trouble reinstalling SkyPortal, I was testing my implemented code to add a Comment section on SkyPortal, and an error occurred with the `make test` command. Apparently there was something wrong o

[2022-11-04 21:18] Carla802 commented on #19
Thank you for your quick response @mcoughlin !

I had already tried make db_clear, then make db_init and finally run & make load_demo_data, but it still wasn't working.

I just tried make db_clear, run and make load_demo_data and this error still appears :
![image](https://user-images.githubusercontent.com/113369817/200076126-76e4cbe4-5f3b-4abc-ba63-01cdbcffd7fa.png)

Everything else seems to be w

[2022-11-04 21:20] mcoughlin commented on #19
@Carla802 Ah yeah indeed. What does

make log

say at the same time? Looks like the gcn_events are giving particular issues.

[2022-11-04 21:32] Carla802 commented on #19
Here are the logs when make load_demo_data fails  :
![image](https://user-images.githubusercontent.com/113369817/200077904-fc6fe45c-8d60-4b5c-b540-38c942c885ef.png)

[2022-11-04 21:45] mcoughlin commented on #19
@Carla802 But further up I assume there are failures (maybe)? Usually we see long stack traces.

[2022-11-04 22:13] Carla802 commented on #19
No from what I see it is mostly warnings and other stuffs... The only weird message I see is the SQL one on the last screenshot :

![image](https://user-images.githubusercontent.com/113369817/200082264-cf1ec340-e779-48fc-8d19-9d66209e8cb4.png)

![image](https://user-images.githubusercontent.com/113369817/200082325-97755020-6fba-4f2b-a547-a2cdfb0ae30e.png)

![image](https://user-images.githubuserco

[2022-11-04 22:18] mcoughlin commented on #19
@Carla802 super interesting... so what does the home page look like? I wonder if its a weird issue where you just run out of memory at some point.

[2022-11-04 23:36] Theodlz commented on #19
Hi @Carla802 . Well at least SkyPortal does start up, so that's not too bad of a problem!

Out of curiosity. What happens if you re run make load_demo_data right after if failed? You will naturally see a bunch of errors saying that stuff already exists in the DB, but you might succeed in uploading the rest that failed the first time. (No you dont do any make db_clear or whatever in between, no res

[2022-11-04 23:41] Theodlz commented on #20
Hi @Carla802

So there is no make test command you need to run.

What you need to run to start skyportal in testing mode is:
` make db_clear && make db_init && make run_testing` (its the make run that changes as you can see`

Then, after monitoring the logs with a make log to see that the app started correctly, you can open another terminal, connect to your virtualenv and run `pytest path_to_your_

[2022-11-05 08:14] Theodlz commented on #10
Yes @Nayru12 ! Sorry I didn't confirm here on git only during our meeting 2 days ago.

Is it still ok for you guys?

[2022-11-05 08:50] Nayru12 commented on #10
Hi @Theodlz, yes it is still ok for us ! :)

[2022-11-05 10:40] Carla802 commented on #19
@mcoughlin The home page of SkyPortal looks like this :

![image](https://user-images.githubusercontent.com/113369817/200115601-142ee4f3-20fe-443b-bf9d-ccabdc0c8d2a.png)

@Theodlz When I try to re run make load demo data after it failed, my logs look like this at the same time :

![image](https://user-images.githubusercontent.com/113369817/200114511-81693b42-8577-4ff1-b1f9-8415dff65c2e.png)

![ima

[2022-11-05 11:07] Theodlz commented on #19
Hi @Carla802 ! Sorry I didn't get the chance to look at your issue yet. I'll have a good luck at it in an hour from now!

[2022-11-05 11:54] mcoughlin commented on #19
@Carla802 and if you click on the google login?

[2022-11-05 12:24] Theodlz commented on #19
Ok so. Looking at your first failure:

- It's not so weird. It happens to me from time to time that photometry isn't added properly, or a gcn event. For the gcnevents we have had these issues in the past, so as Michael said it can happen especially if your machine isn't top-notch.
- Failure or not, when you access the front (after clicking the button to connect with google, with btw just so you kn

[2022-11-05 12:28] #8 closed

[2022-11-05 12:29] Theodlz commented on #9
Hey @aolrc-vinci. Any updates?

[2022-11-05 12:29] Theodlz commented on #2
Hi @Adiman007. Any updates ?

[2022-11-05 12:55] AlixOlrc commented on #9
Yes I realised I didn't clone the right fork and cloned the skyportal repository so I have to start the installation from the beginning on my fork. I should however be able to do start again relatively quickly since I've figured out most of my issues.

[2022-11-05 13:22] Carla802 commented on #19
@mcoughlin @Theodlz To respond to both of you, when I click on the google login of the home page, it changes to a complete blank page.

Then, for the second failure, it seems that the gcn_events and earthquake couldn't be added, as you can see here.
![image](https://user-images.githubusercontent.com/113369817/200120737-44c90605-4182-4224-a40f-ad7dd57baecd.png)

Here is my config :
CPU : AMD Ryzen

[2022-11-05 17:46] ManonFlt opened #21 "Manon Flament - Adding new features"
Hi @Theodlz 😊
I started the tutorial to add new features. I’ll post my questions here if I have some.
Thank you! 🚀

[2022-11-06 00:34] Theodlz commented on #19
Sounds good to me @Carla802 . I'll send you a zoom link at 11AM.

Don't hesitate to tell others that need help to join

[2022-11-06 04:17] Theodlz commented on #9
Awesome. Please tag me in a comment here ans close your issue once you're done.

[2022-11-06 04:19] Theodlz commented on #10
Hi @Nayru12 . Let me know when you make any progress. And also which option you choose in the end: WSL2 or DUAL BOOT (i recommend dual boot which your machine specs)

[2022-11-06 11:51] Carla802 commented on #19
My SkyPortal is running and the make load demo data finally worked ! It was mostly a RAM issue, I increased it and now it is working again. Thanks again for all your help, I can move on to the tutorial now. 😄

[2022-11-06 11:51] #19 closed, assigned to Carla802

[2022-11-06 16:04] AlixOlrc commented on #9
Hi @Theodlz !
I'm having an issue with the `make db_init` and postgresql, I downloaded postgresql v14 but the one that is used in the db_init is the v12 and I can't find the pg_hba.conf file for this one.
The postgres client exited with the following error message:

I also tried to create a cluster using the v14 (of which I was able to edit the pg_hba file) but it's not allowing me to do so.

[2022-11-06 20:54] jolyanem opened #22 "Jolyane/Laura/Inès/Alix - Add information from the fink alerts"
Hi @Theodlz ! 😄
@laurall974 and I are working on the 5th task given by Sarah which is 'Add information from the fink alerts'.
We haven't started yet but will focus on it when the tutorial is done.

Thank you for your time! 🚀

[2022-11-06 21:06] celiune opened #23 "Céline Liu/ Adrien Bonnefoy/ Adrien Bonnefon - Add colors in classification"
Hello @Theodlz 👋
I'll be working on the 2nd task given by Sarah which is `add colors in classification`.
I'll start to work on it when I'll be done with the tutorial.
Thank you for your time! 🚀

[2022-11-06 21:14] Carla802 opened #24 "Carla Amat/Lydie Pont/Manon Flament - Use a search bar"
Hi @Theodlz 👋
I will be working on the third task Sarah gave us, which is adding a search bar to the sources page.
First I am currently finishing the [Adding features](https://skyportal.io/docs/adding_features.html) tutorial.

I will ask you for help if it is needed !

Thank you again 🚀

[2022-11-07 01:27] Theodlz commented on #22
Hi @jolyanem and @laurall974

So, this task is a bit different then the rest. It's seperate from SkyPortal, and requires a lot of prior knowledge. However the advancement of this task is pretty critical as it could help a lot with the current GRB/ZTF campaign.
I'll talk with Sarah to figure out if that's really such a good idea to give this task to you guys to start with, as it requires you to und

[2022-11-07 10:36] lydie10 opened #25 "Carla Amat/Lydie Pont/Manon Flament- Add a legend to the map"
Hi  @Theodlz ! 👋

I will be working on the 4th task, which is : add a legend to the telescopes map.
I will start working on it once I'm done with the Adding new features tutorial.

Thanks for your help ! 🚀

[2022-11-07 11:03] Nayru12 commented on #10
Hi @Theodlz. In the end, I choose WSL2.
Right now, I am the `make db_init` command, but suddenly I have encoutered a new issue : my `pip` command does not work anymore, I have the error : `TypeError: deprecated() got an unexpected keyword argument name`

[2022-11-07 11:07] mcoughlin commented on #10
https://github.com/aws/aws-cli/issues/7325

Looks like a pyOpenSSL issue.

You could try their suggestion:

pip uninstall pyOpenSSL

or similar? And see if you can get it to build?

[2022-11-07 11:50] Nayru12 commented on #10
Thank you Michael !
I tried it and it did not work (still the same Error)

[2022-11-07 11:57] mcoughlin commented on #10
Hmmm maybe @Theodlz has particular thoughts here. It's definitely a weird one!

[2022-11-07 15:54] Theodlz commented on #10
I consistently get that error when my version of pip is inferior to the one required by SkyPortal. Please verify that you are in the virtualenv and yry upgrading pip.
If that doesnt do the trick, delete your virtualenv and create a new one (it should be pretty quick).

If the error persists, please tell me and I'll do some more research in the morning.

[2022-11-07 17:12] Nayru12 commented on #10
That was the problem. I was in my virtualenv but my pip was not upgraded (and when I upgraded it I was not in my virtualenv...).

So, everything is working now ! I tried to run `make load_demo_data`  and also to change users and it works !
Thank you @Theodlz and Michael ! :) 🥳

(And for now, my computer seems to support quite well the demo version of sp : it doesn't lag at all with WSL unlike with

[2022-11-07 21:06] #10 closed

[2022-11-07 22:26] Carla802 commented on #20
Hey @Theodlz ! 😄

As you asked, I followed your updated version of the tutorial. I created all the files that needed to be created, and added every line in the different existing files.

When I'm running the app, the front-end part of the comment section is displayed on the http://localhost:5000/test_comments page. However, when I try to submit a new comment, this error appears (both in the app an

[2022-11-08 07:14] lydie10 commented on #13
Hello 😉
I finally completed this tutorial thanks to the new version you posted @Theodlz
I first started to follow the new documentation in the docs.zip but there was an error with `author_id` in `skyportal/handlers/api/test_comment.py` so I used the code in [doc/adding_features.md](https://github.com/skyportal/skyportal/pull/3662/files) instead.

[2022-11-08 07:51] Theodlz commented on #25
Hi @lydie10. Congrats!! The tutorial has been updated since then, and the error you saw has been removed.

[2022-11-08 07:54] Theodlz commented on #9
Hi @aolrc-vinci, please have a look at the `Installing PostgreSQL` from https://grandma-skyportal.readthedocs.io/dev_guide/
I wrote that documentation when I had the same problem. It should help :)

[2022-11-08 07:55] Theodlz commented on #2
Hi again @Adiman007, anything new?

[2022-11-08 07:57] Theodlz commented on #13
Hi @lydie10 , I updated it. The tutorial shouldn't have any errors now. Could you have a look at it and confirm?

[2022-11-08 07:57] #13 closed

[2022-11-08 07:57] Theodlz commented on #16
Hi @celiune, any updates using the updated tutorial?

[2022-11-08 07:58] Theodlz commented on #17
Hi @jolyanem, any updates using the updated tutorial?

[2022-11-08 07:58] Theodlz commented on #18
Hi @laurall974, any updates using the updated tutorial?

[2022-11-08 08:01] Theodlz commented on #20
Hi @Carla802, you need to change the `author_id` to `user_id`. My apologizes I made that error. It had already corrected it, but naturally only on the PR not on the ZIP file I already posted. However, you can notice that it is an error quite easily. As you can see, there is no `author_id` column in the TestComment model in skyportal\models\test_comments.py

Please always try to have a look at the

[2022-11-08 08:02] Theodlz commented on #21
Hi @ManonFlt, any updates?

I corrected my new version of the tutorial. I didn't post a new compiled version (no new zip file) but you can have a look at it directly by looking at the MARKDOWN file I edited.

[2022-11-08 08:03] Theodlz commented on #18
Also, this issue you opened is for the Adding New features tutorial, not any task given by Sarah (as you mentioned above). So please do the tutorial first.

[2022-11-08 08:04] Theodlz commented on #20
When you add a new table, its a good thing to restart the app with a make db_init and make run to ensure that the new table is created.

[2022-11-08 15:15] AlixOlrc commented on #9
Hi @Theodlz  ! I come bearing good news !
I have finally succeeded at the installation.
Ready to start working now ! 🚀

[2022-11-08 15:15] #9 closed

[2022-11-08 18:01] ManonFlt commented on #21
Hi @Theodlz 🚀
For now I'm still on the React and Redux tutorials. These are new notions for me so I need a bit more time 😅

[2022-11-08 18:29] jolyanem commented on #17
Hi @Theodlz ! 👋
I did the tutorial and I've got an error when I `make run` and `make log`.
Here is my error :
<img width="362" alt="image" src="https://user-images.githubusercontent.com/105995521/200646076-8cb623b7-977f-43fe-ad8d-84c835afda18.png">

I suppose the error is on the file `config.yaml` I had to modify..

[2022-11-08 21:05] Adiman007 commented on #2
sorry I don't have GitHub on my phone so I don't have any alert when you send a text,
but I've watched and have been noticed of what you sent to the others,
I've made an hard drive partition today and installed Linux into it and now I try it again from the ground
I hope it will work flawlessly from now on, fingers cross :crossed_fingers:

[2022-11-08 22:24] Carla802 commented on #20
Thank you for your explanations @Theodlz !
I corrected this line in /api/test_comment and I also checked if the rest of the code was the same as yours (directly from your pull request). It seems to be correct but when I run the app the same error still appears...
I also get a "Invalid API endpoint" when opening the test_comments page.
I thought it was an error in the app_server file, where the API

[2022-11-09 16:22] jolyanem commented on #17
Hi @Theodlz !
I don't have the same issue anymore. Now, when I `make run`, my browser displays "Skyportal is being provisioned" but when I `make log`, here are my errors :
<img width="361" alt="image" src="https://user-images.githubusercontent.com/105995521/200881356-f90455fb-f54d-46b3-8504-bdedd09bf415.png">

What I don't understand is that, I didn't modify `models.py` but the error said that it

[2022-11-09 16:24] Theodlz commented on #17
Hi @jolyanem .

This error says that in __init__.py you imported thr TestComment class that you added as test_comment.py when you did the tutorial, but it cant find it.

[2022-11-09 16:27] Theodlz commented on #20
Hi @Carla802 .

I suggest you ask @lydie10 to open a pull request (of for example her branch of the tutorial, to the main branch of her fork).

That way you can FOR SURE compared your code with hers without missing anything.

Best even, from your tutorial branch you open a PR to HER tutorial branch, which will highlight the differences between the 2.

If it cant find the api route when you try to.

[2022-11-09 16:37] jolyanem commented on #17
Thank you for your answer @Theodlz,

So I should check the test_comment.py I created in `models` and the `__init__.py` associated to it ?

[2022-11-09 16:40] Theodlz commented on #17
My apologize, I didnt read the error right. The error is in test_comment.py. It cant import `user_or_token` from Baselayer models. That might be an incorrect import from the new version of the tutorial I wrote. Please check that import (verify where it is in baselayer) and correct it accordingly.

[2022-11-09 16:57] jolyanem commented on #17
In my test_comment.py;
I wrote : 'from baselayer.app.models import Base, user_or_token'. Does it mean I have to import Baselayer ? @Theodlz

[2022-11-09 16:59] Theodlz commented on #17
Baselayer is in skyportal already.

What I mean is that maybe user_or_token is imported from the wrong file in baselayer.
So try to figure out what would be the correct import if the one you used is incorrect.

Imports are really import, unless you can figure out where what you need is, you wont be able to import it correctly in any of your projects.

[2022-11-09 17:02] Theodlz commented on #17
Also, please check with those who already managed to finish the tutorial. If they commited their code on a branch on git (which they should ALWAYS do), you can easily compare your code with theirs.

[2022-11-10 09:48] Carla802 commented on #20
Hi @Theodlz,

It was in fact an /api/test_comment wrote as /api/test_commentS in the ducks file... Thank you my comment section finally works !

[2022-11-10 09:50] Carla802 commented on #20
Hi @Theodlz ,

It was in fact an /api/test_comment wrote as /api/test_commentS in the ducks file... Thank you for your help, my comment section finally works ! 😄

I will now implement the test file and it should be good.

[2022-11-10 09:59] Carla802 opened #26 "Jolyane/Laura/Inès/Alix - Sort the sources by default by Date Saved (from the most recent)"
Hi @Theodlz ,

This is the first task Sarah gave us, which is sorting the sources by default by Date Saved, from the most to least recent. We decided to all work on this one as a first real practice.

As soon as we finish the Adding features tutorial, each of us will start working on this task.

[2022-11-10 11:31] Theodlz commented on #26
Hi @Carla802

I'm not sure this is a good idea. 10 people is way too much for this.

Most of this task is gonna be looking through the code to figure out what to change, but then its a matter of VERY few lines of code to change/add (like max 10).

I'd rather have you work in groups of 3 to 4 on different tasks at first.
And then 2 to 3 ideally.

[2022-11-10 13:20] AlixOlrc opened #27 "Alix Olliéric - Adding New Features"
Hi,
I started the tutorial yesterday to add new features.
For now, I'm working on the ReactJS Tutorial and trying my best to be as fast as possible.

[2022-11-10 13:20] celiune opened #28 "Céline Liu/ Adrien Bonnefoy/ Adrien Bonnefon - Add a search bar in "Recent sources"​"

[2022-11-10 13:36] KodeurFou opened #29 "Adrien Bonnefon - Adding new features"

[2022-11-10 13:37] Nayru12 opened #30 "Inès Perez - Adding New Features"

[2022-11-11 13:01] Carla802 commented on #24
Hi @Theodlz ,

I am currently working on this task and for the moment I've implemented a search bar like this. I simply took the code of the QuickSearchBar component and adapted it to the source page.
Do you think this is what Sarah asked for or do I need to code a search bar that filters the source list displayed ?

If you don't have more details than we do I will ask Sarah directly !

![image](h

[2022-11-14 21:30] celiune commented on #16
Hi @Theodlz , I've successfully completed the Adding new features tutorial. I had few errors in your doc.zip, I've removed the "**s**" in the file static/js/ducks/testComments.js lines 13 and 17, I've also changed in the skyportal/handlers/api/test_comment.py file **author_id** by **user_id**.
Before that I've also created a repository with the ReactJS tutorial, the tic tac toe game.
I just have a

[2022-11-14 21:37] mcoughlin commented on #16
@celiune You should be working on a branch.

i.e.
git checkout -b your_branch
and pushing your changes to that.

[2022-11-16 07:48] laurall974 commented on #26
Hello @Theodlz, @mcoughlin
With the team we manage to edit the code and sort the source by default by date saved but I had some struggle trying to push/ commit my code on GitHub from my computer (on VS Code).
It is written that I have no rights to perform this action.

I think the error occurred when I cloned my SkyPortal repository but I am not sure at the beginning.
I don't know how to solve tha

[2022-11-16 08:51] Theodlz commented on #16
Hey @celiune
As I explained the other day, you **NEVER** modify your main branch. The main  branch needs to stay the same, so you can simply pull the new changes from skyportal/main on your main. Then, pull the changes from your main to your branches where you are working when needed.

Every time you work on a feature, you create a branch (from MAIN) for that feature.
You can either do it locally

[2022-11-16 08:55] Theodlz commented on #26
Hi @laurall974, I answered to @celiune on her issue. Celiune please remember to ask questions on THIS issue instead, which is the one dedicated to this code. Otherwise its a bit confusing to keep track.

Here is my message btw:

[code]

[2022-11-16 10:07] laurall974 commented on #26
@Theodlz I tried to checkout my branch (I had already created one) and to push my code on it but I still have this error :

`fatal: Authentication failed for 'https://github.com/skyportal/skyportal.git/'`

[2022-11-16 10:59] laurall974 commented on #26
Thanks @Theodlz it works.
I pushed the code on the branch `Task1 sort by default by date saved the most recent #3677` and did a pull request.

[2022-11-16 17:40] Adiman007 commented on #2
Skyporal installed

[2022-11-16 17:40] #2 closed

[2022-11-16 18:05] Adiman007 opened #31 "make load_demo_data not loading sources"
hi @mcoughlin  @Theodlz ,
I ran into a problem running the 'make load_demo_data' everything was working except the sources and few photometry.
I tried 'make db_clear && make db_init && make run' but the same thing happend.

make load_demo_data :
![make load_demo_data](https://user-images.githubusercontent.com/80261099/202254700-708ec106-a1d8-4041-bbe7-3597860c62ce.png)
![image](https://user-images

[2022-11-16 18:07] mcoughlin commented on #31
@Adiman007 Is your branch all the way up to date with main?

[2022-11-16 18:16] Adiman007 opened #32 "permission denied for schema public in 'make log'"
This is an issue about an error we met with @Theodlz during my installation of Skyportal,

solution :

In the terminal :
[code]
inside of the postgres shell :
[code]

[2022-11-16 18:16] #32 closed, assigned to Adiman007

[2022-11-16 19:02] Carla802 commented on #24
Hi again @Theodlz,
Just in case you didn’t see it, I opened a PR for this task after Sarah told me it was what she expected. Guy did his review and approved it today, but I need your review as well !
Let me know when you have the time to look at it.
Thank you 😄

[2022-11-16 20:32] Adiman007 commented on #31
yes

[2022-11-16 20:34] mcoughlin commented on #31
@Adiman007 If you clone skyportal main, do you see the same error? I think this was fixed many commits ago.

[2022-11-17 00:01] celiune commented on #16
Ohh thank you @mcoughlin and @Theodlz , I understand!

[2022-11-17 00:01] #16 closed, assigned to celiune

[2022-11-17 09:47] Adiman007 opened #33 "Adrien Bonnefoy - Adding New Features"

[2022-11-19 12:21] Theodlz commented on #31
Hi @Adiman007.

I suspect that this could be caused by the fact that you access the frontend before running the command.
Why?
Well when you access the frontend, you create a new user. What might happen is that then the ids of user posted by make load_demo_data are shifted by id.
This is only speculation, but worth a shot to clear the db, start the app and running the command without accessing the

[2022-11-19 12:21] Theodlz commented on #24
Hi Carla! Let me have a look right now.

[2022-11-19 12:49] Theodlz commented on #28
Hi @celiune. I answered @Carla802 regarding this feature, and gave more precise instructions of how to implement it on her PR:
https://github.com/skyportal/skyportal/pull/3671

Please have a look at it

[2022-11-19 12:50] Theodlz commented on #22
Hi @jolyanem, don't forget to reach out to me when you start working on this. I can definitely help with that and I have a lot of suggestions on how to implement it.

[2022-11-19 12:52] Theodlz commented on #26
I believe this task is finished @jolyanem @laurall974 ! It has been merged on SP. Please close the issue and move it to the right column in the github project.

Good job!!!

[2022-11-19 19:23] #26 closed, assigned to Nayru12, jolyanem, laurall974, aolrc-vinci

[2022-11-20 09:14] Theodlz opened #34 "Task 2 - Photometry Form"
Currently, in SkyPortal, the page (accessible through the source page itself) dedicated to adding new photometry allows you to copy and paste the content of a csv file and submit it.

However, it would be much better to ALSO have a more classic and user-friendly **form** where users can add the same data as the one they would add in the csv text field.

We have this kind of form in mind (for the f

[2022-11-20 09:14] Theodlz commented on #34
@KodeurFou
@Nayru12
@aolrc-vinci
@ManonFlt
@celiune
@laurall974
@Carla802
@jolyanem
@lydie10
@Adiman007

[2022-11-20 09:15] Theodlz commented on #34
This task is a priority. Please focus on this one! We would love to add it to SkyPortal soon enough so that it can be used during the current GRB/ZTF campaign. Do not open new pull requests (unless the code is ready of course) other than this one.

[2022-11-21 16:32] laurall974 opened #35 "Task 2 - unable to see changes"
Hello @Theodlz !
I am trying to do the task 2 given by Sarah.
I tried to understand the code but I noticed that when I try to make a change on a `.jsx` file, the change does not appear on my Skyportal. (But when I change a `.py` file it appears).
Maybe I did something wrong during the installation. Have you got any idea of the problem ?
<img width="807" alt="Screenshot 2022-11-21 at 17 26 55" src=

[2022-11-21 17:55] mcoughlin commented on #35
What happens in make log when you make the change? I usually do a shift refresh in Chrome when developing to be sure the updated web pack is used.

[2022-11-21 18:03] lydie10 opened #36 "Errors in make log"
Hi @Theodlz
I was trying to make the changes you requested for the legend but now I have an issue when I do `make log`.

It's happening since I synchronized my local branch. Now it says that everything is up to date in my local branch, but the thing is that I don't have the same files when I look at the branch online as when I do on my local one.
For example, locally, I have a Main.jsx file that i

[2022-11-21 19:59] Theodlz commented on #36
Hi Lydie.

Stop your app, then delete the package-lock.json file and the node_modules directory. Then run the app again to reinstall dependencies. That will fix it

[2022-11-21 20:01] Theodlz commented on #35
Hi @laurall974

If shift refresh doesnt work, here what I do:
Open the menu of your browser that allows you to delete your history. Unselect all options except cache (some browser hide most options and you need to click show all/advanced to see them). Select period all, and hit confirm to delete ONLY the cache of your browser. Then you can refresh the page and you should see your changes.

[2022-11-21 20:57] lydie10 commented on #36
Thanks ! I tried this and it solved one of the errors with node_module in the logs.
However, some of the messages are still remaining  :

[21:36:59 service/webpack] Module not found: Error: Can't resolve './TestComments' in '/home/lydie/skyportal-fork/skyportal/static/js/components'
[21:36:59 service/webpack] resolve './TestComments' in '/home/lydie/skyportal-fork/skyportal/static/js/components'
[

[2022-11-21 21:00] mcoughlin commented on #36
Looks like you aren't importing TestComments with "./TestComments.jsx" ?

[2022-11-21 21:02] Carla802 commented on #24
Hi @Theodlz !
I'm working on the changes you asked me to do, and so far I added the search bar to the MUI Datatable. However, I'm having trouble coding the function that is called on every search change. In static/js/components/SourceTable.jsx, in the table's options, I added this :

[code]

And I want the handling function to look like this (just filtering the rows that include the search content

[2022-11-22 09:30] laurall974 commented on #35
It works ! Thanks a lot @mcoughlin @Theodlz

[2022-11-22 09:33] #35 closed, assigned to nobody

[2022-11-23 04:48] Theodlz commented on #24
Hi @Carla802,
So the first code snippet is correct.
However I'm not sure that's what you want to do for the second.
You don't want to use the filter function of javascript to limit which rows are displayed.
What you want, is to do the same as what is done when you use the filter option of the filter form (or any of the filtering options btw): you send an API call to fetch sources based on all the

[2022-11-23 04:51] Theodlz commented on #36
To me the error you get is still related to which node modules are installed, did you remove the package-lock.json AND the whole node_modules folder for sure? (for the browser part of the error)
However it seems to happen only in your component.
Here's what I think:
In your config.yaml, you still have a reference to the TestComment component, but however you are working on another branch of skypor

[2022-11-23 04:53] Theodlz commented on #31
Hi @Adiman007, any progress? In general I would suggest you downgrade to PostgreSQL 14 to avoid errors that none of us have encountered yet.

You can look at: https://grandma-skyportal.readthedocs.io/dev_guide/
There, you'll find instructions on how to delete all installations and clusters of postgres to install version 14.
Don't forget to repeat the config steps from skyportal's docs when you are

[2022-11-23 07:15] lydie10 commented on #36
I created a new config.yaml file and now it's working !
Next time I'll make sure to be more careful about what's in this file.
Thank you for your help ! 🙂

[2022-11-23 07:15] #36 closed, assigned to lydie10

[2022-11-24 07:07] Theodlz commented on #36
I suggest you create a new one everytime you update skyportal. Anyway in development that shouldn't be a problem

[2022-11-24 13:39] Carla802 commented on #14
Hi @Theodlz @mcoughlin,

This is the link to our google doc about the installation tutorial. 🚀

https://docs.google.com/document/d/1OW1D3mPNSI1XxklTrBVk3u4ln_G19oePGlNcKEFq0OI/edit?usp=sharing

[2022-11-24 13:42] mcoughlin commented on #14
@Carla802 @Theodlz maybe this could be turned into a FAQ portion of the install guide?

[2022-11-24 13:54] Theodlz commented on #14
Definitely. You guys can re write this cleanly in markdown format. That will be a great opportunity to learn how to compile the docs as well. It's all detailed in the documentation :)

[2022-11-24 13:55] Theodlz commented on #14
Great stuff btw! Lots of detail. This is very much appreciated!!!

[2022-11-24 14:04] #30 closed, assigned to Nayru12

[2022-11-24 14:04] #17 closed, assigned to jolyanem

[2022-11-24 14:04] #18 closed, assigned to laurall974

[2022-11-24 14:05] #20 closed, assigned to Carla802

[2022-11-25 18:32] Carla802 commented on #24
Hi @Theodlz,
Thank you for your explanations, I am now able to filter by name the table with this code :

[code]

It works well, and now I would want to do the same with the other filters, but I have some more questions !

So I believe you want the search bar to also filter the other columns, but I'm not sure how I can do that. First, I'm not sure how I can filter separately every columns, since i

[2022-11-26 08:30] Theodlz commented on #24
Hi @lydie10.
I had the chance to play with the Mui Data Table at some point.
From what I remember, if you look at the logs while playing with existing filters/sorting, you'll see that you can indeed do multiple things at once (you can check the API calls that are made, and what's in the redux).
All you need is to check what the paginateCallback does. Do you give it a new "data"  var with filters,

[2022-11-30 23:04] celiune commented on #23
Hello @Theodlz @mcoughlin ,
With @Adiman007 @KodeurFou we've been working together on this task for weeks, but couldn't give you any update before because we didn't know where and what to search, so we tried to look for where to change the color of the classifications first before knowing that we need to change the background color of the classifications.
Last week we've gotten [Icare's github's c

[2022-11-30 23:08] mcoughlin commented on #23
@celiune So we have examples kind of like this in the GcnTags.jsx (which doesn't look all that different from what you are trying). I would have simply copied in the below:

const useStyles = makeStyles(() => ({
  BNS: {
    background: "#468847!important",
  },
  NSBH: {
    background: "#b94a48!important",
  },
  BBH: {
    background: "#333333!important",
  },
  GRB: {
    background: "#f89406!